div.w3-slider {
	position:relative;
	padding: 0px 45px;
	margin-right: 25px;
    margin-bottom: 25px;
	float:left;
}

div.w3-slider > .w3-slide-left {
	position:absolute;
	top:45%;
	left:0
}

div.w3-slider > .w3-slide-right {
	position:absolute;
	top:45%;
	right:0
}

.animate-left {
	animation-name: left;
	animation-duration: 0.5s;
}

.animate-right {
	animation-name: right;
	animation-duration: 0.5s;
}

@keyframes left {
    from {
    	left: -10px;
    	opacity: 0;
   	}
    to {
    	left: 0px;
    	opacity: 1;
    }
}

@keyframes right {
    from {
    	left: 10px;
    	opacity: 0;
   	}
    to {
    	left: 0px;
    	opacity: 1;
    }
}
